# Compiled/cached Python
__pycache__/
*.py[cod]
*$py.class

# Temporaries
.ipynb_checkpoints/
*.swp
*.idea

# Outputs
*.png
*.svg
*.eps
*.out
*.mat
*.bmp
*.pickle
*.xml

# Model and other data
*.pth
*.npy
.idea
*.DS_Store
.idea/workspace.xml
.idea/misc.xml
.idea/Multi_task_domain_adapt.iml
.idea/workspace.xml
*.yaml
*.log
*.jsonl
*.json
*.iml
*.iml
.idea/workspace.xml
.idea/Multi_task_domain_adapt.iml
.idea/misc.xml
exp/cam/_mai_mag1/logs/events.out.tfevents.1607980602.WINDOWS-CTP81D9
.idea/misc.xml
data/augmentations.py
.idea/workspace.xml
